
 /* Gallery */

 .main {
    max-width: 1000px;
    margin: auto;
    position: relative;

  }
  

.main-content-wrapper {
    padding: 17rem 0;
    background-image: url("223542.jpg");
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 0;
}

.main-content {
    width: 30%;
    box-sizing: border-box;
    /* padding: 0 4rem; */
    color: white;
}


.main-title {
    text-align: center;
    font-size: 3rem;
    color: white;
    background-color: black;
    border: 5px solid white;
    padding: 20px;
}

.main-title:hover {
    text-align: center;
    font-size: 3rem;
    color: white;
    background-color: black;
    border: 5px solid white;
    padding: 20px;
    box-shadow: 0 36px 300px 0 rgba(57, 238, 102, 1), 0 36px 300px 0 rgba(57, 238, 102, 1);  
}

.products-title {
    text-align: center;
    font-weight: 700;
    position: relative;
    margin: 3rem 2rem;
    font-size: 2rem;
}

.products-title::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 6px;
    width: 35%;
    background-color: rgba(57, 238, 102, 1);
}

.products-title::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    height: 6px;
    width: 35%;
    background-color: rgba(57, 238, 102, 1);
}


/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
  position: relative;

}



.products-list {
    max-width: 80%;
    text-align: center;
    margin: 2rem auto;
    justify-content: center;
    display: flex;
    position: relative;
}

  .gallery {
    display: flex;
    border: 5px solid black;
    justify-content: center;
    margin: 50px 100px;
  }


  div.card {
    float: left;
    width: 20%;
    padding: 8px;
    font-family: 'Kanit', sans-serif;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 2%;
    float: left;
    max-width: 20%;
    min-width: 20%;
    position: relative;

  }
  
  div.card:hover {
    border: 1px solid #4CAF50;
    background-color: rgb(241, 246, 251);
    position: relative;

  }
  
  div.card img {
    width: 100%;
    height: auto;
    border-radius: 2%;
    position: relative;
    z-index: 1;
  }
  
  div.description {
    padding: 15px;
    text-align: center;
  }

  p {
    margin: 0px;
    margin-bottom: 10px;
    text-align: center;
  }

  .button {
    display: contents;
    background-color: #4CAF50; 
    border: 1px solid grey;
    border-radius: 5% ;
    color: white;
    padding: 10px 10px;
    text-align: center;
    /* text-decoration: none; */
    font-weight: 600;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    justify-content: center;
    margin-top: 10px;
  }
 
  .button:hover {
    background-color: #f44336;
    color: white;
  }

/* .circle-box {
    display: block;
    border: 1px solid blue;
    width: 20px;
    height: 20px;
} */

  .info-circle {
    z-index: 2;
    display: flex;
    border-radius: 50%;
    width: 10%;
    aspect-ratio: 1/1;
    /* height: 30px; */
    color: white;
    font-weight: 500;
    padding: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* margin: 1rem;
    margin-top: 0.5rem; */
    text-shadow: 1px 2px 2px rgb(8, 7, 7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  }

  .sale {
    border: 2px solid tomato;
    background-color: tomato;
    /* margin-left: 3%; */
    top: 1rem;
    left: 1rem;
  }

  .new-product {
    border: 2px solid rgb(56, 157, 56);
    background-color: rgb(56, 157, 56);
    /* margin-left: 70%; */
    right: 1rem;
    top:1rem;
}

   .new-price {
    color: rgb(56, 157, 56);
    font-weight: 900;
 }

   .old-price {
    color: #777;
    text-decoration: line-through;
 }